.services-list {
  display: flex;
  flex-direction: column;

  a {
    padding: 10px 15px;
    border-bottom: 1px solid #e6e6e6;
    color: #444;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
      color: #0d6efd;
    }
  }
}