<section class="hero">
    <section class="hero-carousel-full">
    <app-carrusel></app-carrusel>
  </section>
  <!-- Hero principal -->
  <section class="hero">
    

  </section>
    <div class="hero-text">
      <h1>Revisa tus exámenes de laboratorio en línea</h1>
      <p>
        Consulta tus resultados médicos de forma rápida, segura y desde cualquier
        dispositivo. Mantén el control de tu historial de salud.
      </p>      
      <div class="hero-actions">
        <button class="btn btn-primary" routerLink="/portal/login" routerLinkActive="active">
          Ver mis exámenes
        </button>
        <!-- <button class="btn btn-outline" routerLink="/perfil">
          Mi perfil
        </button> -->
      </div>
    </div>

  </section>
