<header class="main-header">
  <div class="logo">
    <div class="logo-badge">MS</div>
    <div class="logo-text">
      <span class="logo-title">Mi Salud</span>
      <span class="logo-subtitle">Portal de exámenes</span>
    </div>
  </div>

  <nav class="main-nav">
    <!-- <a routerLink="/portal/login" routerLinkActive="active">Mis Exámenes</a> -->

    <a (click)="irAMisExamenes()">Mis Exámenes</a>
    <a routerLink="/portal/perfil" routerLinkActive="active">Mi Perfil</a>
    <a routerLink="/home" routerLinkActive="active">Inicio</a>
    <a class="logout-btn" (click)="cerrarSesion()">Cerrar Sesión</a>
  </nav>
</header>

<main class="main-content">
  
  <router-outlet></router-outlet> 
</main>

<footer class="main-footer">
  <div class="page-container footer-content">
    <span>© 2025 — Gestión de Laboratorios</span>
    <span class="footer-links">
      <a href="#">Soporte</a>
      <a href="#">Política de privacidad</a>
    </span>
  </div>
</footer>
