<article class="panel">
  <h2 class="section-title">{{ titulo }}</h2>

  <form [formGroup]="form" (ngSubmit)="guardar()">

    <div class="form-row">
      <label>Usuario ID</label>
      <input type="number" formControlName="usuarioId" [readonly]="!!id"/>
    </div>

    <!-- TIPO DE ANÁLISIS: select usando el enum -->
    <div class="form-row">
      <label>Tipo de análisis</label>
      <select formControlName="tipo">
        <option value="" disabled>Selecciona un tipo</option>
        <option *ngFor="let t of tipoAnalisis" [value]="t">
          {{ t }}
        </option>
      </select>
    </div>

    <div class="form-row">
      <label>ID Laboratorio</label>
      <input type="number" formControlName="idLaboratorio" />
    </div>

    <div class="form-row">
      <label>Valores</label>
      <textarea formControlName="valores"></textarea>
    </div>

    <div class="form-row">
      <label>Fecha muestra</label>
      <input type="date" formControlName="fechaMuestra" />
    </div>

    <!-- FECHA RESULTADO: solo lectura (la calcula el TS) -->
    <div class="form-row">
      <label>Fecha resultado</label>
      <input type="date" formControlName="fechaResultado" readonly />
    </div>

    <!-- ESTADO: select, solo editable cuando hay id (modo edición) -->
    <div class="form-row">
      <label>Estado</label>
      <select formControlName="estado" [disabled]="!id">
        <option *ngFor="let e of estados" [value]="e">
          {{ e }}
        </option>
      </select>
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="form.invalid">
        {{ id ? 'Actualizar' : 'Guardar' }}
      </button>

      <button type="button" (click)="volverALaLista()">
        Cancelar
      </button>
    </div>
  </form>
</article>
